<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto ">
                <div class=" main_header_left align-items-center">
                    <figure class="errimg">
                        <img src="images/404.png" alt="prachi" title="thapatechnical" class="img-fluid">
                    </figure>
                    <p><i>Welcome to My World</i></p>
                    <h1><b>{{errorMsg}}</b></h1>
                    <a href="/"><button>Go Back</button></a>
                </div>
            </div>

        </div>
    </div>

    </div>

    <!-- footer -->

   <!-- <footer>
        <p>
            created with ❤ by thapa technical
        </p>
    </footer>-->
    {{> footer}}
</body>

</html>